.pageContainer {
  padding-top: 30px;
  width: 80%;
}

.homePageContentContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  margin-top: 50px;
}

.homePageItemColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  width: 290px;
}

.homePageItemDescription {
  font-size: 16px;
}
